<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FF_ConnectionString" value="SERVER=(local);UID=sa;PWD=;DATABASE=FastForward"/>
    <add key="FF_SchemaFilePath" value="C:\Test\Test.xml"/>
    <add key="FF_Logging" value ="true"/>
    
  </appSettings>
</configuration>