<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<configSections>
	
		<section name="naspect" type="Puzzle.NAspect.Framework.Configuration.NAspectConfigurationHandler, Puzzle.NAspect.Framework"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		
	</configSections>


	<appSettings>
	
		<!-- NAspect Location -->
		<add key="naspect.config" value="~\LoggingPOC\NAspect.xml"/>
		
		<!-- Log4NET Location -->
		<add key="sub.log" value="~\LoggingPOC\POC\Log4Net.Configs\sub.xml"/>
		<add key="sum.log" value="~\LoggingPOC\POC\Log4Net.Configs\sum.xml"/>
		<add key="mul.log" value="~\LoggingPOC\POC\Log4Net.Configs\mul.xml"/>
		<add key="div.log" value="~\LoggingPOC\POC\Log4Net.Configs\div.xml"/>
		<add key="sub.sum.log" value="~\LoggingPOC\POC\Log4Net.Configs\sub.sum.xml"/>
		
	</appSettings>
	
</configuration>
