<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="naspect" type="Puzzle.NAspect.Framework.Configuration.NAspectConfigurationHandler, Puzzle.NAspect.Framework.NET2" />
  </configSections>
  <!-- Puzzle.NAspect.Framework settings -->
  <naspect>
    <configuration>
      <aspect name="OODB" target-signature="*">
        <pointcut target-signature="* get_*">
          <interceptor type="NObjectStore.EntityPropertyGetInterceptor, NObjectStore" />
        </pointcut>
        <pointcut target-signature="* set_*">
          <interceptor type="NObjectStore.EntityPropertySetInterceptor, NObjectStore" />
        </pointcut>
        <pointcut target-signature="*.ctor*">
          <interceptor type="NObjectStore.EntityCtorInterceptor, NObjectStore" />
        </pointcut>
        <mixin type="NObjectStore.PersistentObjectMixin, NObjectStore" />
      </aspect>
    </configuration>
  </naspect>
</configuration>